WP_ENV=local
WP_HOME=http://localhost/tavernenfest/wordpress
WP_SITEURL=http://localhost/tavernenfest/wordpress

DB_NAME=tavernenfest
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_CHARSET=utf8mb4
DB_COLLATE=

WP_DEBUG=true
WP_DEBUG_LOG=true
WP_DEBUG_DISPLAY=false
SCRIPT_DEBUG=false
DISALLOW_FILE_EDIT=true

AUTH_KEY=change-me
SECURE_AUTH_KEY=change-me
LOGGED_IN_KEY=change-me
NONCE_KEY=change-me
AUTH_SALT=change-me
SECURE_AUTH_SALT=change-me
LOGGED_IN_SALT=change-me
NONCE_SALT=change-me
